<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>574585051097-s1qmgr0iel3n9jt3i25plgmg5947sp1r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.574585051097-s1qmgr0iel3n9jt3i25plgmg5947sp1r</string>
	<key>API_KEY</key>
	<string>AIzaSyAnd336CJRgfBW6rKpU_aoUDQhD54OkJDU</string>
	<key>GCM_SENDER_ID</key>
	<string>574585051097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appmusicplayer</string>
	<key>PROJECT_ID</key>
	<string>appmusicplayer-9d43a</string>
	<key>STORAGE_BUCKET</key>
	<string>appmusicplayer-9d43a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:574585051097:ios:065fd9b800e73142006bc8</string>
</dict>
</plist>